/* 导航区域  */

.nav-s .categorys-s,
.attached-search-container-s .categorys-s {
    float: left;
    width: 232px;
    height: 40px;
    position: relative;
}

.preSale-s .categorys-s {
    width: 178px;
}

.presale-css-s #presale-s {
    float: left;
    overflow: hidden;
    width: 200px;
    height: 40px;
    background-color: #f42424;
    text-align: center;
    font-size: 0;
    line-height: 40px;
}

.nav-s .categorys-s .categorys-type-s a,
.attached-search-container-s .categorys-s .categorys-type-s a {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: block;
}


/* 侧边导航 */

.presale-css-s #categorys-presale-s {
    position: relative;
    width: 200px;
    height: 380px;
}

.categorys-tab-content-s {
    display: block;
    float: left;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.6);
}

.categorys-tab-content-s .categorys-items-s {
    position: relative;
    height: 100%;
}

.categorys-tab-content-s .categorys-item-s {
    cursor: pointer;
    height: 14.29%;
}

.presale-css-s .categorys-tab-content-s .item-content-s {
    position: relative;
    float: left;
    width: 200px;
    padding: 0px;
}


/* 图标位置 */

.preSale-s .item-s .pre-icon-s {
    position: absolute;
    display: block;
    width: 22px;
    height: 30px;
    background: url(../images/pre-icon.png)no-repeat;
    top: 10px;
    left: 25px;
}

.presale-css-s .categorys-tab-content-s .item-content-s .categorys-title-s {
    float: left;
    margin-left: 10px;
    width: 190px;
    height: 54px;
}

.categorys-tab-content-s .categorys-title-s strong {
    display: block;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preSale-s .item-s .pre1-s {
    background-position: -2px 7px;
}

.preSale-s .item-s .pre2-s {
    background-position: -1px -50px;
}

.preSale-s .item-s .pre3-s {
    background-position: -1px -102px;
}

.preSale-s .item-s .pre4-s {
    background-position: -2px -159px;
}

.preSale-s .item-s .pre5-s {
    background-position: -1px -211px;
}

.preSale-s .item-s .pre6-s {
    background-position: -1px -266px;
}

.preSale-s .item-s .pre7-s {
    background-position: -1px -322px;
}

.presale-css-s .categorys-tab-content-s .item-content-s .categorys-title-s a {
    position: relative;
    display: block;
    padding: 0 0 0 45px;
    overflow: hidden;
    width: 145px;
    height: 54px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    line-height: 54px;
}

.item-content-s:hover a {
    color: #f42424!important;
}

.selected {
    background-color: rgba(0, 0, 0, 1);
}


/* 中间导航区域 */

.nav-s .nav-main-s {
    float: left;
    width: 968px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}

.nav-s .nav-main-s li {
    float: left;
    margin-left: 38px;
}

.nav-s .nav-main-s li a {
    font-size: 16px;
    color: #555;
    display: block;
}

.nav-s .nav-main-s li a:hover {
    color: #ec5151;
}


/* banner */

.pre-banner-s,
.pre-banner-s .banner-width-s {
    height: 380px;
    position: relative;
}

.pre-banner-s .bd-s {
    height: 380px;
    overflow: hidden;
}

.banner-s .hd-s {
    text-align: center;
    position: relative;
    width: 100%;
}

.pre-banner-s .bd-s li {
    float: left;
    width: 100%;
}

.banner-width-s {
    width: 1200px;
    margin: auto;
}

.banner-new-s .pre-banner-s .banner-width-s a {
    position: absolute;
    float: left;
    display: block;
    top: 0;
    left: 0;
    width: 1200px;
    height: 380px;
}


/* 分类区域 */

.mt-component-s {
    border-top: 2px solid #dcdcdc;
}

.mb-component-s {
    border-bottom: 2px solid #dcdcdc;
}

.preSale-filter-s .component-filter-s {
    padding-top: 10px;
}

.component-filter-s .filter-label-list-s {
    padding: 5px 0 5px 35px;
    float: left;
    font-family: "microsoft yahei";
    width: 1165px;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .label-s {
    height: 24px;
    line-height: 24px;
    margin-right: 30px;
}

.component-filter-s .filter-label-list-s .label-s {
    float: left;
    color: #333;
    font-size: 14px;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .filter-quanbu {
    float: left;
    margin-right: 40px;
    padding: 0px;
    height: 24px;
    line-height: 24px;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .red-selected {
    border: 1px solid #ec5051;
    background-color: white;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .filter-quanbu a {
    display: block;
    padding: 0 20px;
    font-size: 12px;
    color: #3a78bf;
    font-weight: bold;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .red-selected a {
    color: #ec5051;
    font-weight: bold;
}

.component-filter-s .filter-label-list-s .inline-block-list {
    overflow: hidden;
    width: auto;
}

.preSale-filter-s .component-filter-s .inline-block-list li {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 0;
    width: 70px;
    height: 24px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 24px;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .inline-block-list li a {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #3a78bf;
}

.preSale-filter-s .component-filter-s .filter-label-list-s .inline-block-list li a:hover {
    color: #ec5051;
}